RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_TO_EMAIL=
GEMINI_API_KEY=

# Note: GEMINI_PROMPT_MONTHLY_CURRENT_AFFAIR_PROMPT is stored in 'gemini_prompt_monthly_current_affair_prompt.txt' (not a secret)


